.about-amarillo-img {
    z-index: 100;
}
.about-amarillo-recurso {
    position: absolute;
    top: 373px;
}
.about-amarillo-logo {
    position: absolute;
    left: 741px;
    top: 433px;
}
.about-amarillo-text {
    position: absolute;
    left: 741px;
    top: 564px;
    width: 902px;

    font-weight: 400;
    font-size: 40px;
    line-height: 47px;

    color: #032854;
}
.about-valores-container {
    position: absolute;
    top: 1403px;
    left: 224px;
    width: 884px;
}
.valores-item-title-div {
    width: 374px;
    height: 69px;
    background: #FFFFFF;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    position: absolute;

    margin-top: 15px;
    margin-left: 127px;

    display: flex;
    align-items: center;
}
.valores-item-title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #032854;

    margin-left: 135px;
}
.valores-item-title-encabezado {
    display: flex;
    flex-direction: row;
}
.valores-item-description {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #032854;
    width: 651px;

    margin-left: 250px;
    margin-top: -90px;
}
.about-valores-item {
    margin-top: 120px;
}
.about-valores-hashtag {
    position: absolute;

    left: 1084px;
    top: 1228px;

    display: flex;
    flex-direction: column;
}
.valores-hashtag-grey {
    position: absolute;
    top: 800px;
    left: 31px;
}
.valores-hashtag-text {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

    color: #032854;
    z-index: 20;

    position: absolute;
    top: 952px;
    left: 308px;
}
.valores-hashtag-text-highlight {
    font-weight: 600;
}