.container {
    background-color: #001E4A;
}
.AnimateASaltar {
    font-size: 195px;
    position: absolute;
    top: 855px;
    color: #FFF388;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.TenemosLoNecesario {
    font-size: 55px;
    color: #FFFFFF;
    font-weight: 500;
}
.AlcancesTusObjetivos {
    font-size: 55px;
    color: #FFFFFF;
    font-weight: 700;
}
.Text1 {
    position: absolute;
    top: 421px;
    margin-left: 20%;
    text-align: center;
    line-height: 10px;
}
.yellow-container {
    position: absolute;
    top: 1233px;
}
.yellow-question {
    background-color: #FFFFFF;
    width: 1110px;
    height: 77px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 333px;
    margin-left: 20%;

    display: flex;
    flex-direction: row;
}
.yellow-question-p {
    color: #032854;
    font-weight: 400;
    font-size: 35px;
    margin-left: 55px;
    margin-top: 20px;
}
.searchIcon {
    width: 45px;
    height: 45px;
    margin-top: 15px;
    margin-left: 547px;
}
.yellow-response {
    width: 1105px;
    height: 364px;
    border-radius: 39px;
    background-color: #FFFFFF50;

    position: absolute;
    top: 333px;
    margin-left: 20%;

    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.15);

}
.yellow-response-p {
    margin-top: 109px;
    margin-left: 104px;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    color: #032854;
}   
.response-highlight {
    font-weight: 700;
}
.recorte-container {
    position: absolute;
    top: 1473px;
    z-index: 100;
}
.recorte-text {
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #032854;

    position: absolute;
    margin-top: 785px;
    margin-left: 25%;
}
.recorte-highlight {
    font-weight: 800;
}
.recorte-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;

    margin-left: 27%;
    margin-top: 947px;
}
.button {
    background-color: #032854;
    width: 349px;
    height: 77px;
    border-radius: 20px;

    margin-left: 64px;
}
.button-p-1 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}
.button-p-2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #FFF388;
}
.informacion-container {
    position: absolute;
    top: 2836px;
    z-index: 110;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.individual-container {
    width: 495px;
    height: 737px;
    background: #FFFFFF;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
    margin-left: 60px;
}
.informacion-img {
    margin-top: 30px;
    margin-left: 38px;
}
.informacion-title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #032854;

    margin-top: 23px;
}
.informacion-text {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #032854;

    margin-left: 38px;
    margin-right: 38px;
}