.capacitaciones-header-container {
    position: absolute;
    width: 1920px;
    height: 3619px;
    top: 0px;

    background: #032854;
}
.capacitaciones-informacion-general-title {
    font-weight: 900;
    font-size: 195px;
    line-height: 229px;
    color: rgba(255, 246, 173, 0.97);

    position: absolute;
    margin-top: 516px;
    left: 112px;
}
.capacitaciones-informacion-general-img {
    margin-top: 291px;
    margin-left: 353px;
}
.capacitaciones-header-explicacion-pregunta {
    position: absolute;
    width: 1110px;
    height: 77px;
    left: 405px;
    top: 1130px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;

    display: flex;
    flex-direction: row;

    z-index: 40;
}
.capacitaciones-header-explicacion-pregunta-text {
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;

    color: #032854;
    margin-left: 31px;
    margin-top: 18px;
}
.capacitaciones-header-explicacion-pregunta-searchIcon {
    width: 45px;
    height: 45px;
    margin-top: 15px;
    margin-left: 365px;
}
.capacitaciones-header-explicacion-respuesta {
    position: absolute;
    width: 1105px;
    height: 364px;
    left: 408px;
    top: 1130px;

    background: rgba(255, 255, 255, 0.75);
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 39px;

    z-index: 30;
}
.capacitaciones-header-explicacion-respuesta-text {
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;

    color: #032854;
    margin-top: 108px;
    margin-left: 82px;
    width: 969px;
}
.capacitaciones-header-explicacion-respuesta-highlight {
    font-weight: 700;
}
.capacitaciones-recorte-title {
    position: absolute;
    font-weight: 900;
    font-size: 95px;
    line-height: 111px;

    color: #032854;
    left: 252px;
    top: 1798px;

    z-index: 40;
}
.capacitaciones-recorte-img {
    position: absolute;
    top: 1040px;
}
.capacitaciones-tarjetas-container {
    position: absolute;
    top: 2304px;

    display: flex;
    margin-left: 117px;
}
.capacitaciones-tarjeta-div {
    background: #FFFFFF;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
    width: 495px;
    height: 737px;

    margin-left: 50px;
}
.capacitaciones-tarjeta-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    text-transform: uppercase;

    color: #032854;
    margin-bottom: 0px;
    width: 470px;
}
.capacitaciones-tarjeta-img {
    margin-top: 27px;
    margin-left: 37px;
}
.capacitaciones-tarjeta-description {
    width: 433px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #032854;
}
.capacitaciones-tarjeta-button {
    width: 276px;
    height: 56px;
    background: rgba(255, 246, 173, 0.97);
    border-radius: 20px;
    margin-left: 111px;

    position: absolute;
}
.capacitaciones-tarjeta-button-text {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #032854;
    margin-top: 13px;
}
.capacitaciones-footer-container {
    position: absolute;
    top: 3180px;
}